* {
  box-sizing: border-box;
}
body {
  width: 1024px;
  height: 512px;
  margin: 16px auto;
  background-color: #f2e7ac;
  border: 2px;
  display: grid;
  grid-template-columns: 255px 255px 255px 255px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "main main main aside"
    "footer footer footer footer";
}
header,
nav,
main,
aside,
footer {
  color: #000;
  border: 2px solid #400101;
  border-style: unset;
  border-radius: 20px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header {
  grid-area: header;
  height: 88px;
  background-color: #f3d3d4;
  font-family: "La Belle Aurore", cursive;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 2px solid #000;
}
nav {
  grid-area: nav;
  height: 48px;
  background-color: #fff;
}
li {
  list-style: none;
  display: inline-block;
  text-align:center;
  margin: 20px;
}
main {
  grid-area: main;
  display: block;
  background-color: #c68b8b;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 25px;
  letter-spacing: 0.5px;
}
.p1 {
  width: 50%;
  text-align: justify;
}
.p2 {
  width: 50%;
  margin-top: 2%;
  margin-left: 50%;
  text-align: justify;
}
.p3 {
  width: 50%;
  margin-top: 2%;
  text-align: justify;
}
.p4 {
  width: 50%;
  margin-left: 50%;
  text-align: justify;
}
.p5{
  margin: 4px;
  padding: 5px;
  text-align: justify;
}
.obras {
  justify-content: end;
  align-items: flex-end;
}
table{
  
}
.ipecal {
  justify-content: start;
  align-items: flex-start;
  text-align: start;
}
aside {
  grid-area: aside;
  display: inline-block;
  padding: 5px;
  background-color: #7a8c51;
}
footer {
  grid-area: footer;
  height: 32px;
  background-color: #400101;
  color: #fff;
}
a {
  list-style: none;
  display: inline-block;
  justify-content: space-between;
  margin: 0 20px;
  color: #400101;
  background: #7a8c51;
  text-decoration: none;
}
dt{
  margin-left: 25px;
  font-style: oblique;
}
dd{
  text-align: justify;
  font-style: oblique;
}
